---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent posts</h1>

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
        </h2>
          {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

</div>
